<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Bar Down</title>
</head>

<body>
    <div class="grid-container">
        <header class="row">
            <div>
                <a class="brand" href="index.html">Bar Down</a>
            </div>
            <div>
                <a href="myaccount.html">My account</a>
                <a href="cart.html">Cart</a>
            </div>
        </header>
        <main>
            <div class="row center">
                <div class="card">
                    <a href="product.html">
                        <!-- Image size should be 680px by 830 px -->
                        <img class="medium" src="./images/p1.jpg" alt="product">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Nike Mercurial Vapor 14 Elite FG/AG</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                        </div>
                        <div class="price">$330</div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- Image size should be 680px by 830 px -->
                        <img class="medium" src="./images/phantom-gt.jpg" alt="product">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Nike Phantom GT Elite FG</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                            <span>
                                <i class="fas fa-star-half-alt"></i>
                            </span>
                        </div>
                        <div class="price">$325</div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- Image size should be 680px by 830 px -->
                        <img class="medium" src="./images/tiempo-legend.jpg" alt="product">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Nike Tiempo Legend 8 Elite FG</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                            <span>
                                <i class="far fa-star"></i>
                            </span>
                        </div>
                        <div class="price">$182</div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- Image size should be 680px by 830 px -->
                        <img class="medium" src="./images/hypervenom-III.jpg" alt="product">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Nike Hypervenom III Academy FG</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                            <span>
                                <i class="fas fa-star-half-alt"></i>
                            </span>
                            <span>
                                <i class="far fa-star"></i>
                            </span>
                            <span>
                                <i class="far fa-star"></i>
                            </span>
                        </div>
                        <div class="price">$92</div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="row center">All Rights Reserved</footer>
    </div>
</body>

</html>